body {
    margin: 0;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #efefef;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
    width: 32px;
    height: 32px
}

td {
    padding: 0 8px;
    font-weight: bold;
    font-variant: all-small-caps;
    white-space: nowrap;
}

td > p {
    margin: 0 !important;
    line-height: 32px;
    vertical-align: middle;
}

p {
    margin: 0 !important;
}
