
.container {
    margin: auto;
    padding: 8px;
    box-sizing: border-box;
}

.ingredient {
}

.ingredient > * {
    margin-right: 8px;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
}
